<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio de sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-note
        *ngIf="isEmailInvalid || isEmailRequired"
        class="form--error-message"
      >
        <span *ngIf="isEmailRequired">El campo es requerido</span>
        <span *ngIf="isEmailInvalid">El correo electrónico es inválido</span>
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-note *ngIf="isPasswordRequired" class="form--error-message"
        >El campo es requerido</ion-note>
    </ion-item>

    
    <ion-button expand="block" color="success" fill="clear" (click)="onForgotPassword()">
      ¿Olvidaste tu contraseña?
    </ion-button>

    <ion-button
      type="submit"
      expand="block"
      color="success"
      [disabled]="isFormInvalid || disabled"
    >
      <ion-spinner *ngIf="spinner" color="dark"></ion-spinner>Iniciar sesión
    </ion-button>
  </form>

  <ion-text color="success" class="ion-text-center" (click)="goToRegister()">
    <small>¿No tienes una cuenta? Registrarte</small>
  </ion-text>
</ion-content>
