<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de usuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="name" formControlName="name"></ion-input>
      <ion-note *ngIf="isNameRequired" class="form--error-message">
        El campo es requerido
      </ion-note>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="person-circle-outline"></ion-icon>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
      <ion-note *ngIf="isApellidoRequired" class="form--error-message">
        El campo es requerido
      </ion-note>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-note *ngIf="isEmailInvalid || isEmailRequired" class="form--error-message">
        <span *ngIf="isEmailRequired">El campo es requerido</span>
        <span *ngIf="isEmailInvalid">El correo electrónico es inválido</span>
      </ion-note>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
      <ion-note *ngIf="isPasswordRequired" class="form--error-message">
        El campo es requerido
      </ion-note>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="text" formControlName="dni"></ion-input>
      <ion-note *ngIf="isDniRequired" class="form--error-message">
        El campo es requerido
      </ion-note>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="text" formControlName="phone"></ion-input>
      <ion-note *ngIf="isPhoneRequired || isPhoneMinLegthError" class="form--error-message">
        <span *ngIf="isPhoneRequired">El campo es requerido</span>
        <span *ngIf="isPhoneMinLegthError">El número de telefono es inválido</span>
      </ion-note>
    </ion-item>
    
    
    <ion-button type="submit" expand="full" color="success" [disabled]="isFormInvalid || disabled">
      <ion-spinner *ngIf="spinner" color="dark"></ion-spinner>Crear cuenta
    </ion-button>

    <ion-text color="success" class="ion-text-center" (click)="goTologin()">
      <small>¿Ya tienes cuenta? Iniciar Sesion</small>
    </ion-text>
  </form>
</ion-content>

