.custom-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.custom-icon {
  padding: 5px;
  }

.custom-input {
   padding-left: 10px;
}

.form--error-message {
  color: red;
  font-size: 15px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.divider span {
  font-size: 20px;
  color: #999;
}

.white-text {
  color: #ffffff; 
  font-size: 20px;
}

.green-text {
  
  color: #28a745; 
  font-size: 20px;
}
.custom-button {
  width: 60%; 
  display: block;
   margin: 0 auto; 
     border-radius: 80px; 
 align-items: center;
  text-align: center;
  margin-top: 25px;
}



